.container {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 500px;
    border: 4px solid rgb(48, 47, 47);
    border-radius: 10px;
    margin: auto;
    margin-top: 75px;
}

.box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background-color: rgb(221, 221, 221);
    height: 90px;
    width: 415px;
    border: 8px solid white;
    padding-right: 10px;
    border-radius: 10px;
}

.box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 239, 239);
    flex: 3 1 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    height: 420px;
    width: 420px;
}

.display {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.operation {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.btn {
    width: 25%;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
}

.operators {
    background-color: rgba(29, 28, 28, 0.932);
    color: white;
}

.clear {
    background-color: rgba(247, 3, 3, 0.788);
    color: white;
}

.numbers {
    background-color: rgba(153, 152, 152, 0.911);
    color: white;
}